In [ ]:
# from flask import Flask
# app = Flask(__name__)

In [1]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd
import numpy as np
import re
import os
###twitter
import json
import tweepy 
import scrapy
import sys
sys.path.append('/Users/jyj/Dropbox/A_A_Data_Analysis/Group_Projects')
# Import Twitter API Keys
from config import consumer_key, consumer_secret, access_token, access_token_secret
# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [2]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [2]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)
# browser = Browser('django')
browser = Browser('chrome', **executable_path, headless=False)
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [9]:
soup;

In [5]:
# class TestSpider(scrapy.Spider):
#     name = "test"

#     start_urls = [
#         "http://stackoverflow.com/questions/38233614/download-a-full-page-with-scrapy",
#     ]

#     def parse(self, response):
#         filename = response.url.split("/")[-1] + '.html'
#         with open(filename, 'wb') as f:
#             f.write(response.body)

In [3]:
# %%writefile example.py
# import scrapy
# class TestSpider(scrapy.Spider):
#     name = "test"

#     start_urls = [
#     "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
# ,
#     ]

#     def parse(self, response):
#         filename = response.url.split("/")[-1] + '.html'
#         with open(filename, 'wb') as f:
#             f.write(response.body)

In [4]:
# %%bash
# scrapy runspider example.py

In [11]:
#NASA Mars latest News: this code block will generate latest_news
url0="https://mars.nasa.gov/news/";
url="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest";

# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
# browser = Browser('chrome', **executable_path, headless=False)
# browser.visit(url)
# html = browser.html
# soup = BeautifulSoup(html, 'html.parser')


# # Retrieve page with the requests module
# response = requests.get(url)
# # Create BeautifulSoup object; parse with 'lxml'
# soup = BeautifulSoup(response.text,'html.parser')

results = soup.select('.list_text');

# results;

latest_title=results[0].select('.content_title a')[0].get_text()
latest_text=results[0].select('.article_teaser_body')[0].get_text()
latest_title;
latest_text;
latest_news={"title":latest_title,"text":latest_text}
# i=0;
# for result in results:
#         i+=1
#         print(i,'. ','title=',result.select('h3')[0].get_text());
#         print(i,'. ', 'text=',result.select('div.article_teaser_body')[0].get_text());

"NASA's InSight Places First Instrument on Mars"

'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.'

In [12]:

results = soup.select('.grid_layout')
len(results)
# results=soup.find_all("ul", class_="item_list ")
# # len(results[0].select("li"))
# len(results)

5

In [13]:
results = soup.select('.list_text')

len(results)

latest_title=results[0].select('.content_title a')[0].get_text()
latest_text=results[0].select('.article_teaser_body')[0].get_text()
latest_title
latest_text

40

"NASA's InSight Places First Instrument on Mars"

'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.'

In [14]:
#JPL Mars Space Images - Featured Image: this code block will generate featured_image_url
Mars_Space_Images="https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars";
browser.visit(Mars_Space_Images)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
results = soup.select('div.carousel_items')
# results[0].select('article')[0]["style"]
RE=re.compile(r"'/.*.jpg'")
featured_image_url='https://www.jpl.nasa.gov'+RE.findall(results[0].select('article')[0]["style"])[0].strip("'")
featured_image_url
browser.visit(featured_image_url)

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg'

In [15]:
aa=results[0].select('article')[0]["style"]
aa

"background-image: url('/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg');"

In [16]:
aa
aa.lstrip("'background-image: url(").rstrip('''');"''')

aa

"background-image: url('/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg');"

'/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg'

"background-image: url('/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg');"

In [17]:
#Mars Weather: this code block will get latest mars_weather mars_weather from twitter
#method 1: web scraping 
weather_url='https://twitter.com/marswxreport?lang=en'
response = requests.get(weather_url)
soup = BeautifulSoup(response.text, 'html.parser')
mars_weather = soup.select("li.js-stream-item")[0].select("p.TweetTextSize")[0].text
mars_weather
# method2: get results by twitter api:
public_tweets = api.user_timeline("@MarsWxReport")
public_tweets[0]['text']

'Sol 2271 (2018-12-26), high -7C/19F, low -70C/-93F, pressure at 8.31 hPa, daylight 06:41-18:54'

'Sol 2271 (2018-12-26), high -7C/19F, low -70C/-93F, pressure at 8.31 hPa, daylight 06:41-18:54'

In [19]:
# facts_dict_keys.pop()
# facts_dict_keys

In [20]:
# len(facts_dict.keys())
# facts_dict_keys=list(facts_dict.keys())
# facts_dict_values=list(facts_dict.values())
# facts_dict_keys.pop()
# facts_dict_values.pop()
# facts_dict_keys
# facts_dict_values

In [21]:
#Mars Facts: this code block will get some facts (written in facts_dict/facts_df/facts_html)
#about MAR
facts_url="https://space-facts.com/mars/"
response = requests.get(facts_url)
soup = BeautifulSoup(response.text, 'html.parser')
# len(soup.select("table"))
col1=[a.get_text() for a in soup.select("table")[0].select(".column-1")]
col1=[a.rstrip('[:]') for a in col1]
col2=[a.get_text() for a in soup.select("table")[0].select(".column-2")]
col2=[a.rstrip('\n') for a in col2]
facts_dict = dict(zip(col1,col2))
facts_dict

#######
tables = pd.read_html(facts_url)
facts_df=tables[0].rename(columns={0:" ",1:"Value"}).set_index(" ")
facts_df
facts_html= facts_df.to_html()
facts_html

{'Equatorial Diameter': '6,792 km',
 'Polar Diameter': '6,752 km',
 'Mass': '6.42 x 10^23 kg (10.7% Earth)',
 'Moons': '2 (Phobos & Deimos)',
 'Orbit Distance': '227,943,824 km (1.52 AU)',
 'Orbit Period': '687 days (1.9 years)',
 'Surface Temperature: ': '-153 to 20 °C',
 'First Record': '2nd millennium BC',
 'Recorded By': 'Egyptian astronomers'}

                                              Value

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
#Mars Hemispheres: this block code generate titles and url's for hemisphere images for MAr
#which are included in a list of dicts hemisphere_image_urls:
Hemispheres_url="https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
response = requests.get(Hemispheres_url)
soup = BeautifulSoup(response.text, 'html.parser')

title=[]
img_url=[]
for item in  soup.select('a.itemLink'):
    title.append(item.select('h3')[0].get_text())
    url_enhanced="https://astrogeology.usgs.gov"+item["href"]
    response1 = requests.get(url_enhanced)
    soup1 = BeautifulSoup(response1.text, 'html.parser')
    img_url.append("https://astrogeology.usgs.gov"+soup1.select('img.wide-image')[0]['src'])
    
hemisphere_image_urls = [{'title':title[i],'img_url':img_url[i]} for i in range(len(title))]
hemisphere_image_urls

[]

In [24]:
#Now we put all the data into Mongo:

# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
# Define database and collection
client.drop_database('Mars_db')

db = client.Mars_db


collection = db.Mars_hemisphere_image_urls
collection.drop()
try:
    collection.insert_many(hemisphere_image_urls)
    results=collection.find()
    results=[result for result in results]
    results
except TypeError:
    print("TypeError: documents must be a non-empty list")
    
    
collection = db.Mars_facts_dict
collection.drop()
collection.insert_one(facts_dict)
results=collection.find()
results[0]

collection = db.Mars_weather
collection.drop()
collection.insert_one({"mars_weather":mars_weather})
results=collection.find()
results[0]

collection = db.Mars_latest_news
collection.drop()
collection.insert_one(latest_news)
results=collection.find()
results[0]

collection = db.Mars_featured_image_url
collection.drop()
collection.insert_one({"featured_image_url":featured_image_url})
results=collection.find()
results[0]

client.close()

TypeError: documents must be a non-empty list

{'_id': ObjectId('5c2817f5ad6107b5a5c6aa27'),
 'Equatorial Diameter': '6,792 km',
 'Polar Diameter': '6,752 km',
 'Mass': '6.42 x 10^23 kg (10.7% Earth)',
 'Moons': '2 (Phobos & Deimos)',
 'Orbit Distance': '227,943,824 km (1.52 AU)',
 'Orbit Period': '687 days (1.9 years)',
 'Surface Temperature: ': '-153 to 20 °C',
 'First Record': '2nd millennium BC',
 'Recorded By': 'Egyptian astronomers'}

{'_id': ObjectId('5c2817f5ad6107b5a5c6aa28'),
 'mars_weather': 'Sol 2271 (2018-12-26), high -7C/19F, low -70C/-93F, pressure at 8.31 hPa, daylight 06:41-18:54'}

{'_id': ObjectId('5c2817f5ad6107b5a5c6aa29'),
 'title': "NASA's InSight Places First Instrument on Mars",
 'text': 'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.'}

{'_id': ObjectId('5c2817f5ad6107b5a5c6aa2a'),
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg'}

In [25]:
collection = db.Mars_featured_image_url
collection.drop()
collection.insert_one({"featured_image_url":featured_image_url})
results=collection.find()
results[0]

{'_id': ObjectId('5c281804ad6107b5a5c6aa2b'),
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg'}

In [26]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18899-1920x1200.jpg'

In [27]:
mars_weather

'Sol 2271 (2018-12-26), high -7C/19F, low -70C/-93F, pressure at 8.31 hPa, daylight 06:41-18:54'

In [35]:
# Mars_data={"hemisphere_image_urls":hemisphere_image_urls,"facts_df":facts_dict,\
#            "mars_weather":mars_weather,"latest_news":latest_news,"featured_image_url":featured_image_url}



# Mars_data={"facts_df":facts_dict,\
#            "mars_weather":mars_weather,"latest_news":latest_news,"featured_image_url":featured_image_url}


# #Mars_data=[{key:value} for key,value in Mars_data]
# dictlist=[]
# for key, value in Mars_data.items():
#    try: 
#         type(key)
#         type(value)
#         value
#         temp = value[0]
#     #     temp
#     #     break
#         dictlist.append(temp)
#    except: 
#      pass
 
# Mars_data=dictlist

# type(Mars_data)


# collection.insert_many(Mars_data)

# # client.close()

In [37]:
listings =[]
listings = db.Mars.find()

for listing in listings:
    print(listing)

In [ ]:
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
from scrapy_mars import scrape

app = Flask(__name__)
app.config["MONGO_URI"] = "mongodb://localhost:27017/Mars_db"
mongo = PyMongo(app)

# mongo.db.drop_collection ("Mars_hemisphere_image_urls")
# hemisphere_image_urls=mongo.db.Mars_hemisphere_image_urls.find()
# hemisphere_image_urls=[result for result in hemisphere_image_urls]
# hemisphere_image_urls


Mars_facts_dict=mongo.db.Mars_facts_dict.find()
Mars_facts_dict[0]

Mars_weather=mongo.db.Mars_weather.find()
Mars_weather[0]

Mars_latest_news=mongo.db.Mars_latest_news.find()
Mars_latest_news[0]

Mars_featured_image_url=mongo.db. Mars_featured_image_url.find()
Mars_featured_image_url[0]

#  Mars_hemisphere_image_urls
#     Mars_facts_dict
#     Mars_weather
#     Mars_latest_news
#     Mars_featured_image_url

In [ ]:
# listings = mongo.db.Mars.find_one()
# listings
mongo.db.dropDatabase

In [ ]:
listings = mongo.db.listings
listings_data = {'A':2,'B':3}
listings.update({}, listings_data, upsert=True)

In [ ]:
mongo.db.watch

In [ ]:
db.watch

In [ ]:
# "https://astrogeology.usgs.gov"+"/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"
# "https://astrogeology.usgs.gov"+"/cache/images/dfaf3849e74bf973b59eb50dab52b583_cerberus_enhanced.tif_thumb.png"

In [ ]:
# import scrapy


# class MofanSpider(scrapy.Spider):
#     name = "James"
#     start_urls = [
#       "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"

#     ]
#     # unseen = set()
#     # seen = set()      # we don't need these two as scrapy will deal with them automatically

#     def parse(self, response):
#         yield {     # return some results
#             'title': response.css('h1::text').extract_first(default='Missing').strip().replace('"', ""),
#             'url': response.url,
#         }

#         urls = response.css('a::attr(href)').re(r'^/.+?/$')     # find all sub urls
#         for url in urls:
#             yield response.follow(url, callback=self.parse)     # it will filter duplication automatically


# # lastly, run this in terminal
# # scrapy runspider 5-2-scrapy.py -o res.json
# %%bash
# scrapy runspider James_scrapy.py -o res.json

In [ ]:
#Step 2 - MongoDB and Flask Application

 
 <h4 class="heading">{{(listings["latest_news"])["title"]}}</h4>
        
          <small>{{listings['featured_image_url']}}</small>

In [ ]:
Mars_data={"hemisphere_image_urls":hemisphere_image_urls,"facts_df":facts_dict,\
           "mars_weather":mars_weather,"latest_news":latest_news,"featured_image_url":featured_image_url}


#Mars_data=[{key:value} for key,value in Mars_data]
dictlist=[]
for key, value in Mars_data.items():
    type(key)
    type(value)
    value
    temp = value[0]
#     temp
#     break
    dictlist.append(temp)
Mars_data=dictlist

type(Mars_data)

In [ ]:
Mars_data[0]